<!-- ./Features - hover animated -->
<section class="section bg-6 bg-6-gradient bottom-right">
    <div class="container bring-to-front">
        <div class="section-heading text-center">
            <p class="small bold badge badge-info">Benefits</p>
            <h2>Fleet Management</h2>
        </div>
        <div class="row gap-y">
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-4 pl-md-4">
                    <i class="fa fa-cogs color-3 fa-2x mr-3"></i>
                    <br></br>
                    <h3>Automated route planning</h3>
                    <p class="color-2 mb-0">Automated vehicle routing tracking for LTL and multistop operations. Reduce time creating routes.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-4 pl-md-4">
                    <i class="fas fa-comments color-3 fa-2x mr-3"></i>
                    <br></br>
                    <h3>Communicate with drivers</h3>
                    <p class="color-2 mb-0">wo-way communication tool with drivers eliminate emails and keep records of communications on order basis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-4 pl-md-4" style="background-image: url(img/svg/3.svg)">
                    <i class="fas fa-piggy-bank color-3 fa-2x mr-3"></i>
                    <br></br>
                    <h3>Reduce mileage</h3>
                    <p class="color-2 mb-0">Drive less and reduce driver waiting times and fuel consumption. Our customers reduce up to 10% in fuel expenses.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-4 pl-md-4" style="background-image: url(img/svg/4.svg)">
                    <i class="fas fa-file-signature rs color-3 fa-2x mr-3"></i>
                    <br></br>
                    <h3>Pay drivers and bill customers</h3>
                    <p class="color-2 mb-0">Manage payables and receivables from a single platform while connecting with your ERP or TMS. Calculate drivers salaries and commisions, bill customers faster.</p>
                </div>
            </div>
        </div>
    </div>
</section>
