<!-- ./Page header -->
		<header class="header section parallax image-background center-bottom cover overlay gradient gradient-64 alpha-8 color-1" style="background-image: url('{{ .Site.BaseURL }}img/fitter/background/background-4.jpg')">
			<div class="container overflow-hidden">
				<div class="row">
					<div class="col-md-10 col-lg-8">
						<p class="bold text-uppercase mb-0 badge badge-1">Carriers</p>
						<h1 class="display-4 color-1 bold">More loads, less fuel
							<span class="d-block light"></span>
						</h1>
						<p class="lead">
						A complete fleet management solution for small and mid-size companies.</p>
						<nav class="nav mt-5">
							{{ partial "shared/book-a-demo" . }}
						</nav>
					</div>
				</div>
			</div>
		</header>
