<!-- ./Single testimonial - Right -->
    <section class="singl-testimonial shadow">
        <div class="container-fluid py-0">
            <div class="row align-items-center gradient gradient-54 color-1">
                <div class="col-md-7 image-background cover center-top" style="background-image: url({{ .Site.BaseURL }}img/fitter/testimonials/testimonial-1.jpg);"></div>
                <div class="col-md-3 mx-auto py-4 py-md-0">
                    <blockquote class="bold font-md mt-1 color-1">"We do 30% more jobs with the same fleet."
                        <span class="bold"></span></blockquote>
                    <hr class="my-4">
                    <div class="small color-1">
                        <span class="bold d-block">PTL Trucking</span> Transportation Manager</div>
                </div>
            </div>
        </div>
    </section>
