<!-- .Screenshots -->
        <section class="screenshots coverflow">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold display-4"> {{.Site.Data.text.screenshotsTitleApp}} </h2>
                    <p class="text-secondary"> {{.Site.Data.text.screenshotsSubTitleApp}} </p>
                </div>
                <div class="swiper-container" data-sw-show-items="5" data-sw-space-between="20" data-sw-centered-slides="true" data-sw-autoplay="2500" data-sw-breakpoints='{"1200": {"slidesPerView": 5,"spaceBetween": 0},"992": {"slidesPerView": 3, "spaceBetween": 0},"576": {"slidesPerView": 2,"spaceBetween": 0}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/humus-feedstock-list.png" alt="..."></div>
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/humus-calculator-results.png" alt="..."></div>
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/humus-create1.png" alt="..."></div>
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/humus-create2.png" alt="..."></div>
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/humus-feedstock-card.png" alt="..."></div>
                        <div class="swiper-slide"><img class="img-responsive" src="img/screens/app/wanu-desktop-home.png" alt="..."></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>