        </section><!-- ./App features -->
        <section id="features" class="section features">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold"> {{.Site.Data.text.featuresHeader}} </h2>
                    <p class="lead text-secondary"> {{.Site.Data.text.featuresSubHeader}} </p>
                </div>
                <div class="row gap-y text-center text-md-left">
                    <div class="col-md-4 py-4 rounded shadow-hover"><i class="fas fa-unlock fa-3x mb-3 text-info"></i>
                        <h5 class="bold"> {{.Site.Data.text.featuresTitle1}} </h5>
                        <p class=""> {{.Site.Data.text.featuresBody1}} </p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><i class="fas fa-fingerprint fa-3x mb-3 text-info"></i></i>
                        <h5 class="bold"> {{.Site.Data.text.featuresTitle2}} </h5>
                        <p class=""> {{.Site.Data.text.featuresBody2}} </p>
                    </div>
                    <div class="col-md-4 py-4 rounded shadow-hover"><i class="fas fa-piggy-bank fa-3x mb-3 text-info"></i></i>
                        <h5 class="bold"> {{.Site.Data.text.featuresTitle3}} </h5>
                        <p class=""> {{.Site.Data.text.featuresBody3}} </p>
                    </div>
                </div>
            </div>
        </section>