        <!-- Payment Services Heading -->
        <header class="header payment-services-header section" id="home">
            <div class="shapes-container">
                <div class="static-shape shape-main cutout x2 bottom-right"></div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-left"><span class="py-2"> {{.Site.Data.text.appPreHeading}} </span>
                        <h1 class="bold font-md display-lg-2 mt-3">{{.Site.Data.text.appHeading1}} <span class="d-block">{{.Site.Data.text.appHeading2}} </span></h1>
                        <p class="lead">{{.Site.Data.text.body}}</p>
                        <div class="my-5"><a href="#!" class="btn btn-rounded btn-lg btn-primary px-4 mx-auto mr-md-0">{{.Site.Data.text.appHeadingButton}} <i class="fas fa-long-arrow-alt-right ml-2"></i></a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="shapes-container">
                            <div class="static-shape"></div>
                        </div>
                        <figure class="figure-box mockup cutout x2 bottom-right">
                            <div class="screens"><img src="img/payment-services/bg.png" alt="..."> <img src="img/payment-services/person.png" class="position-absolute" data-aos="fade-up" alt="..."></div>
                            <div class="promo-box card shadow-lg border-0" data-aos="fade-up" data-aos-delay="400">
                                <div class="card-body p-5 text-center">
                                    <figure class="icon-xxl mx-auto"><img src="img/payment-services/secure.svg" alt="..."></figure>
                                    <p class="mt-4 text-muted mb-0">Fast and Secure</p>
                                    <hr class="my-3 mx-auto w-25">
                                    <h6 class="h6 mb-0">Commission free</h6>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </header>