<!-- ./Path to success -->
        <section class="section path-success">
            <div class="shape-wrapper">
                <div class="shape-ring absolute right top" data-aos="fade-up"></div>
            </div>
            <div class="container bring-to-front">
                <div class="row gap-y align-items-center text-center text-lg-left">
                    <div class="col-md-6 col-lg-5 ml-lg-auto order-md-2">
                        <div class="device-twin align-items-center">
                            <div class="mockup absolute right" data-aos="fade-right">
                                <div class="screen"><img src="img/screens/app/{{.Site.Data.text.pathImage1}}.png" alt="..."></div><span class="button"></span>
                            </div>
                            <div class="iphone-x front ml-0">
                                <div class="screen shadow-box"><img src="img/screens/app/{{.Site.Data.text.pathImage2}}.png" alt="..."></div>
                                <div class="notch"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-left">
                        <div class="section-heading"><i class="fas fa-stopwatch fa-3x text-info mb-3"></i>
                            <h2 class="bold font-md"> {{.Site.Data.text.pathHeader}} </h2>
                        </div>
                        <ul class="list-unstyled">
                            <li class="media flex-column flex-md-row">
                                <i class="fas fa-flask fa-2x mx-auto mr-md-3 text-info"></i>
                                <div class="media-body mt-3 mt-md-0">
                                    <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.pathTitle1}} </h5>
                                    <p class="m-0"> {{.Site.Data.text.pathBody1}} </p>
                                </div>
                            </li>
                            <li class="media flex-column flex-md-row mt-3">
                                <i class="fas fa-calculator fa-2x mx-auto mr-md-3 text-info"></i>
                                <div class="media-body mt-3 mt-md-0">
                                    <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.pathTitle2}} </h5>
                                    <p class="m-0"> {{.Site.Data.text.pathBody2}} </p>
                                </div>
                            </li>
                            <li class="media flex-column flex-md-row mt-3">
                                <i class="fas fa-clipboard-check fa-2x mx-auto mr-md-3 text-info"></i>
                                <div class="media-body mt-3 mt-md-0">
                                    <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.pathTitle3}} </h5>
                                    <p class="m-0"> {{.Site.Data.text.pathBody3}} </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt5">