<!-- ./Support Form -->
            <section class="block bg-contrast">
                <div class="container py-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="device iphone-x">
                                <div class="screen"><img src="../img/screens/app/wanu-app-home.png" class="img-responsive" alt=""></div>
                                <div class="notch"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-heading">
                                <h2><span class="bold">We are looking for a sponsor!</span></h2>
                                <p class="lead text-uppercase"></p>
                            </div>
                            <p>shoot us an email:</p>
                            <ul class="list-unstyled list-icon">
                                <li><i class="fas fa-envelope"></i>
                                    <p><a href="mailto:youremail@domain.com">compostcalc@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>