<!-- ./CTA - Create Account -->
			<section class="section block bg-6">
				<div class="container py-4">
					<div class="d-flex align-items-center flex-column flex-md-row">
						<div class="text-center text-md-left">
							<p class="light mb-0 accent lead">Ready to reduce your last-mile delivery cost?</p>
							<h2 class="mt-0">Request a demo</h2>
						</div>
						<a href="../register.html" class="btn btn-accent btn-rounded mt-3 mt-md-0 ml-md-auto">Book a demo</a>
					</div>
				</div>
			</section>
