<!-- ./Newsletter Form -->
			<section class="section block bg-1">
				<div class="container py-4">
					<div class="row">
						<div class="col-md-6 b-md-r">
							<h2>DashCore official
								<span class="bold">Newsletter</span>
							</h2>
						</div>
						<div class="col-md-5 ml-md-auto">
							<form action="srv/register.php" class="form" data-response-message-animation="slide-in-left">
								<div class="input-group">
									<input type="email" name="Subscribe[email]" class="form-control rounded-circle-left" placeholder="Enter your email" required>
									<div class="input-group-append">
										<button class="btn btn-rounded btn-4" type="submit">Register</button>
									</div>
								</div>
							</form>
							<div class="response-message">
								<i class="fas fa-envelope font-lg"></i>
								<p class="font-md m-0">Check your email</p>
								<p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
