<!-- ./Other contact channels -->
<section class="section b-b">
    <div class="container">
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-12 col-md-6 py-4 px-5 b-md-r">
                <i class="fas fa-shopping-cart fa-3x color-5"></i>
                <a href="javascript:void(0)" class="mt-4 color-5 d-flex align-items-center">
                    <h4 class="mr-3">Contact Sales</h4>
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
                <p class="mt-4">Looking for a custom quote? need to tell us more about your project? or want a demonstration? drop us a line to
                    <a href="mailto:sales@fitter.app">sales@fitter.app</a>
                </p>
            </div>
            <div class="col-12 col-md-6 py-4 px-5">
                <i class="far fa-life-ring fa-3x color-5"></i>
                <a href="javascript:void(0)" class="mt-4 color-5 d-flex align-items-center">
                    <h4 class="mr-3">Technical Support</h4>
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
                <p class="mt-4">Any question about how to integrate your product?. Don't fret, our geek team is ready for you at
                    <a href="mailto:support@fitter.app">support@fitter.app</a>
                </p>
            </div>
        </div>
    </div>
</section>
