<!-- Integration icons -->
		<section class="section extending-core">
			<div class="top bg-6"></div>
			<div class="container">
				<div class="row gap-y align-items-center">
					<div class="col-lg-6">
						<div class="section-heading">
							<p class="accent bold small text-uppercase">enterprise integration</p>
							<h2>Extend DashCore</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum iste iure nihil non obcaecati quasi, sit? Aperiam asperiores atque, commodi debitis fugiat in nemo optio sint velit. Pariatur, sint!</p>
						</div>
						<a href="#" class="btn btn-rounded btn-outline-3 bw-2 mr-3">Know More</a>
						<a href="#" class="btn btn-rounded btn-outline-1 bw-2 bold gradient gradient-43 color-1">Register Account</a>
					</div>
					<div class="col-lg-6">
						<div class="icons-wrapper position-relative">
							<div class="floating icon icon-xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 100%; top: 30%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/blossom.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 60%; top: -10%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/dockbit.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 25%; top: 0%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/zapier.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-2xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 0%; top: 50%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/bitnami.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-2xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 23%; top: 70%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/slack.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 65%; top: 44%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/monero.svg" class="img-responsive" alt="">
							</div>
							<div class="floating icon icon-xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 95%; top: 83%;" data-aos="fade-left">
								<img src="{{ .Site.BaseURL }}img/integration/dropbox.svg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
