<!-- ./Page header -->
		<header class="header section parallax image-background center-bottom cover overlay gradient gradient-53 alpha-8 color-1" style="background-image: url('{{ .Site.BaseURL }}img/bg/grid.jpg')">
			<div class="container overflow-hidden">
				<div class="row">
					<div class="col-md-10 col-lg-8">
						<h1 class="display-4 color-1 bold">Ultimate HTML template
							<span class="d-block light">for your great product</span>
						</h1>
						<p class="lead">Dashcore is an astonishing HTML template to showcase promote and develop your product in the best way</p>
						<nav class="nav mt-5">
							<a href="#" class="nav-link mr-3 btn btn-rounded btn-success">Start now </a>
							<a href="#" class="nav-link btn btn btn-rounded btn-1">
								<i class="fas fa-tag mr-3"></i> Plans & pricing</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
