<!-- themeforest:js -->
<script src="{{ .Site.BaseURL }}js/02.2.cookie-consent-custom-css.js"></script>
<script src="{{ .Site.BaseURL }}js/02.3.cookie-consent-informational.js"></script>
<script src="{{ .Site.BaseURL }}js/02.4.cookie-consent-opt-out.js"></script>
<script src="{{ .Site.BaseURL }}js/02.5.cookie-consent-opt-in.js"></script>
<script src="{{ .Site.BaseURL }}js/02.6.cookie-consent-location.js"></script>

<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.animatebar.js"></script>
<script src="{{ .Site.BaseURL }}js/odometer.min.js"></script>
<script src="{{ .Site.BaseURL }}js/simplebar.js"></script>
<script src="{{ .Site.BaseURL }}js/swiper.js"></script>
<script src="{{ .Site.BaseURL }}js/popper.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.validate.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.smartWizard.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.waypoints.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.counterup.js"></script>
<script src="{{ .Site.BaseURL }}js/modernizr-2.8.3.min.js"></script>
<script src="{{ .Site.BaseURL }}js/aos.js"></script>
<script src="{{ .Site.BaseURL }}js/particles.js"></script>
<script src="{{ .Site.BaseURL }}js/typed.js"></script>
<script src="{{ .Site.BaseURL }}js/prettify.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.magnific-popup.js"></script>
<script src="{{ .Site.BaseURL }}js/cookieconsent.min.js"></script>
<script src="{{ .Site.BaseURL }}js/common-script.js"></script>
<script src="{{ .Site.BaseURL }}js/forms.js"></script>
<script src="{{ .Site.BaseURL }}js/site.js"></script>
<!-- endinject -->
