<!-- ./Team -->
<section class="section block bg-1">
    <div class="container py-4">
        <div class="row gap-y">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle p-6 mb-4 icon-xxl image-background cover center-top" style="background-image: url(../img/avatar/team/1.jpg)"></figure>
                        <h6 class="bold font-l">Cristian</h6>
                        <h6 class="bold font-l">Rapagna</h6>
                        <p class="small mt-0 accent text-uppercase">Founder &amp; CEO</p>
                        <p class="text-center italic">Long time ago, this guy started it all.</p>
                        <hr class="w-50">
                        <nav class="nav">
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-linkedin color-2"></i>
                            </a>
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-twitter color-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle p-6 mb-4 icon-xxl image-background cover center-top" style="background-image: url(../img/avatar/team/2.jpg)"></figure>
                        <h6 class="bold font-l">Johnatas</h6>
                        <h6 class="bold font-l">Montezuma</h6>
                        <p class="small mt-0 accent text-uppercase">Co-Founder & CRO</p>
                        <p class="text-center italic">The girl that influences our products.</p>
                        <hr class="w-50">
                        <nav class="nav">
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-linkedin color-2"></i>
                            </a>
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-twitter color-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle p-6 mb-4 icon-xxl image-background cover center-top" style="background-image: url(../img/avatar/team/3.jpg)"></figure>
                        <h6 class="bold font-l">Gaston</h6>
                        <h6 class="bold font-l">Lethimonier</h6>
                        <p class="small mt-0 accent text-uppercase">Product Manager</p>
                        <p class="text-center italic">Keeps all the numbers in place.</p>
                        <hr class="w-50">
                        <nav class="nav">
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-linkedin color-2"></i>
                            </a>
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-twitter color-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle p-6 mb-4 icon-xxl image-background cover center-top" style="background-image: url(../img/avatar/team/4.jpg)"></figure>
                        <h6 class="bold font-l center">Esteban</h6>
                        <h6 class="bold font-l center">Franqueiro</h6>
                        <p class="small mt-0 accent text-uppercase">Lead Developer</p>
                        <p class="text-center italic">The man that leads the Global Sales team.</p>
                        <hr class="w-50">
                        <nav class="nav">
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-linkedin color-2"></i>
                            </a>
                            <a href="javascript:;" class="nav-item nav-link pb-0">
                                <i class="fab fa-twitter color-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
