<!-- ./Single testimonial - Left -->
		<section class="singl-testimonial shadow">
			<div class="container-fluid py-0">
				<div class="row align-items-center gradient gradient-54 color-1">
					<div class="col-md-3 mx-auto py-4 py-md-0">
						<p class="text-uppercase mb-0 badge badge-1">Dashcore is great for..</p>
						<p class="font-md bold mt-1 color-1">Anyone who is looking for a great startup template</p>
						<hr class="my-4">
						<div class="small color-1">
							<span class="bold d-block">Lorem Inc. Team,</span> Doing great since 2018</div>
					</div>
					<div class="col-12 col-md-7 image-background cover" style="background-image: url({{ .Site.BaseURL }}img/testimonials/1.jpg);"></div>
				</div>
			</div>
		</section>
