<!-- ./Lightweight HTML - Big Screen Right -->
		<div class="section">
			<div class="container-wide">
				<div class="row gap-y align-items-center">
					<div class="col-12 col-lg-6 pl-0">
						<div class="device-twin align-items-center mt-4 mt-lg-0">
							<div class="browser shadow" data-aos="fade-right">
								<img src="{{ .Site.BaseURL }}img/screens/dash/4.png" alt="...">
							</div>
							<div class="front iphone-x absolute d-none d-sm-block" data-aos="fade-up" data-aos-delay=".5" style="right: 0; bottom: -1.5rem;">
								<div class="screen">
									<img src="{{ .Site.BaseURL }}img/screens/app/1.png" alt="...">
								</div>
								<div class="notch"></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 mx-auto">
						<div class="section-heading">
							<p class="d-flex align-items-center">
								<i class="pe pe-7s-graph1 color-3 pe-2x mr-3"></i>
								<span class="bold color-4 small">Dashboard included</span>
							</p>
							<h2>Every thing you need to get started</h2>
							<p class="lead bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						</div>
						<p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna ultrices accumsan.</p>
						<a href="#" class="btn px-4 btn-rounded btn-accent mt-4">Learn more</a>
					</div>
				</div>
			</div>
		</div>
