<!-- ./Page header -->
		<header class="header section parallax image-background center-bottom cover overlay gradient gradient-61 alpha-5 color-1" style="background-image: url('{{ .Site.BaseURL }}img/fitter/background/background-2.jpg')">
			<div class="container overflow-hidden">
				<div class="row">
					<div class="col-md-10 col-lg-8">
						<p class="bold text-uppercase mb-0 badge badge-1">Shippers</p>
						<h1 class="display-4 color-1 bold">Perfecting the<br>
							Last Mile
							<span class="d-block light"></span>
						</h1>
						<p class="lead">Predict delivery times and keep your customers informed.</p>
						<nav class="nav mt-5">
						{{ partial "shared/book-a-demo" . }}
						</nav>
					</div>
				</div>
			</div>
		</header>
