<!-- ./Tons of benefits -->
        <section class="section overflow-hidden">
            <div class="container bring-to-front">
                <div class="row gap-y align-items-center">
                    <div class="col-md-6 col-lg-5 mr-lg-auto">
                        <div class="center-xy op-1">
                            <div class="shape shape-background rounded-circle shadow-lg bg-info" style="width: 600px; height: 600px;" data-aos="zoom-in"></div>
                        </div>
                        <div class="device-twin align-items-center">
                            <div class="mockup absolute" data-aos="fade-left">
                                <div class="screen"><img src="img/screens/app/{{.Site.Data.text.benefitsImage1}}.png" alt="..."></div><span class="button"></span>
                            </div>
                            <div class="iphone-x front mr-0">
                                <div class="screen shadow-box"><img src="img/screens/app/{{.Site.Data.text.benefitsImage2}}.png" alt="..."></div>
                                <div class="notch"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-left">
                        <div class="section-heading"><i class="far fa-check-circle fa-2x text-danger mb-3"></i>
                            <h2 class="bold font-md"> {{.Site.Data.text.benefitsHeader}} </h2>
                            <p> {{.Site.Data.text.benefitsSubHeader}} </p>
                        </div>
                        <div class="row gap-y">
                            <div class="col-md-6">
                                <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i class="fab fa-android fa-2x text-info mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1">{{.Site.Data.text.benefitsTitle1}} </h5>
                                        <p class="m-0 d-md-none d-lg-block"> {{.Site.Data.text.benefitsBody1}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i class="fab fa-apple fa-2x text-info mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.benefitsTitle2}} </h5>
                                        <p class="m-0 d-md-none d-lg-block"> {{.Site.Data.text.benefitsBody2}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i class="fas fa-mobile-alt fa-2x text-info mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.benefitsTitle2}} </h5>
                                        <p class="m-0 d-md-none d-lg-block"> {{.Site.Data.text.benefitsBody3}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i class="fas fa-desktop fa-2x text-info mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1"> {{.Site.Data.text.benefitsTitle3}} </h5>
                                        <p class="m-0 d-md-none d-lg-block"> {{.Site.Data.text.benefitsBody3}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>