<!-- ./Lightweight HTML - Big screen right -->
		<section class="section">
			<div class="container-wide">
				<div class="row gap-y align-items-center text-center text-lg-left">
					<div class="col-10 col-lg-4 mx-auto">
						<h2>Real Time visibility</h2>
						<p class="lead color-2">How do you keep track of your vehicles?</p>
						<p>View your fleet and outsourced vehicles in one single screen. Reduce communicaion time and be one step ahead of unplanned events.</p>
						<a href="/3pls" class="btn btn-info btn-rounded mt-4">Learn More</a>
					</div>
					<div class="col-12 col-lg-6 pr-0">
						<img src="{{ .Site.BaseURL }}img/screens/dash/2.png" alt="" class="img-responsive shadow" data-aos="fade-left">
					</div>
				</div>
			</div>
		</section>
