<!-- ./Features - grid -->
		<section id="features" class="section edge bottom-right bg-1">
			<div class="container pb-5">
				<div class="section-heading mb-6 text-center">
					<p class="bold text-uppercase mb-0 badge badge-4">Benefits</p>
					<h2>What can do for you</h2>
				</div>
				<div class="row gap-y text-center text-md-left">
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-route pe-3x color-4 mb-2"></i>
						<h5 class="bold">Manage routes</h5>
						<p class="color-2">Create the most efficient routes that maximise your vehicle capacity while meeting your customers appointments.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-stopwatch pe-3x color-4 mb-2"></i>
						<h5 class="bold">Increase performance</h5>
						<p class="color-2">Meet your promises. Deliver on time with real time ETA predictions based on traffic conditions.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-code pe-3x color-4 mb-2"></i>
						<h5 class="bold">Flexible API</h5>
						<p class="color-2">Easy connection with ERP, TMS, fleet management software, GPS and eCommerce websites.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-truck pe-3x color-4 mb-2"></i>
						<h5 class="bold">Real time tracking</h5>
						<p class="color-2">Track vehicles and deliveries in real time. Know where your fleet is located with or without GPS.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-people-carry pe-3x color-4 mb-2"></i>
						<h5 class="bold">Dispatch drivers</h5>
						<p class="color-2">Let your drivers view the most optimal delivery sequence with one click. Easy to use driver mobile app.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-thermometer-half pe-3x color-4 mb-2"></i>
						<h5 class="bold">IoT integration</h5>
						<p class="color-2">Connect vehicle temperature sensors, GPS and any other IoT device connected in the vehicle.</p>
					</div>
				</div>
			</div>
		</section>
