<!-- ./Every thing you need - Tabs -->
<section class="section">
	<div class="container">
		<div class="section-heading text-center">
			<h2 class="bold">Use Cases</h2>
		</div>
		<nav class="slide nav nav-tabs nav-outlined nav-rounded justify-content-around justify-content-md-center mb-5">
			<a class="nav-item nav-link active" data-toggle="tab" href="#dashboard-tab">Distribution</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#tasks-tab">Drayage</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#calendar-tab">B2B</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#inbox-tab">eCommerce</a>
		</nav>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="dashboard-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 mr-md-auto">
						<div class="browser shadow" data-aos="fade-right">
							<img src="{{ .Site.BaseURL }}img/screens/dash/4.png" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-5">
						<p class="mb-0 badge badge-success">Multiple-stops</p>
						<h2 class="display-4 light">Distribution</h2>
						<p>Local distribution is one of the largest challenges in logistics. How do you balance your fleet to delivery as much as possible while meeting customer delivery windows?<br>
							<br>
						We help planners to create routes for hundreds of delivery points in minutes and instruct drivers with one click.

						</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="tasks-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 order-md-2 ml-md-auto">
						<div class="browser shadow" data-aos="fade-left">
							<img src="{{ .Site.BaseURL }}img/screens/dash/3.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-5 mr-md-auto">
						<h2 class="display-4 light">Drayage</h2>
						<p class="lead">Shipping lines and drayage operators can find dual transactions and triangulation opportunities based on the closest vehicle postion and appointment times.</p>
						<hr class="mt-5">
						<p class="small color-2"><span class="bold">Triangulation: </span>when an import container is reused for export without the need to go to a shipping line container yard.
						<br>
						<span class="bold">Dual transaction: </span>dropping off one container and picking up another in a single port entry.</p>
											</div>
				</div>
			</div>
			<div class="tab-pane fade" id="calendar-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 mr-md-auto">
						<div class="browser shadow-box" data-aos="fade-right">
							<img src="{{ .Site.BaseURL }}img/screens/dash/2.png" alt="" class="img-responsive">
						</div>
						<img src="{{ .Site.BaseURL }}img/screens/dash/2.1.png" alt="" class="absolute img-responsive shadow rounded" style="right: 0; top: 0">
					</div>
					<div class="col-md-5">
						<h2 class="display-4 light">B2B</h2>
						<p class="lead color-2">Business to Business deliveries</p>
						<p>Deliver goods to business customers demand barcode scanning, schedule appointments and share visibility with receiving parties.<br>
						We help customers to reduce unloading times and measure each segment of the last mile delivery process.</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="inbox-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 order-md-2 ml-md-auto">
						<div class="browser shadow" data-aos="fade-left">
							<img src="{{ .Site.BaseURL }}img/screens/dash/1.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-5">
						<p class="mb-0 badge badge-info">eCommerce</p>
						<h2 class="display-4 light">eCommerce</h2>
						<p class="lead">Faster fullfilment, customer visibility with ETA calculation and drop off at lockers.<br>
						Our technology enables you with same-day deliveries capabilities.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
