<!-- ./Lightweight HTML - Big screen right -->
		<section class="section">
			<div class="container-wide">
				<div class="row gap-y align-items-center text-center text-lg-left">
					<div class="col-10 col-lg-4 mx-auto">
						<p class="bold text-uppercase mb-0 badge badge-3">Visibility</p>
						<br></br>
						<h2>All your vehicles and drivers in one platform</h2>
						<p class="lead color-2">Reduce customer service calls by providing real time visibility and ETA</p>
						<p>Know where your vehicles are and take tactical decisions that save you time. Sharing ETA with customers reduce workload in your control tower.</p>
						<a href="#" class="btn btn-info btn-rounded mt-4">Learn More</a>
					</div>
					<div class="col-12 col-lg-6 pr-0">
						<img src="{{ .Site.BaseURL }}img/screens/dash/2.png" alt="" class="img-responsive shadow" data-aos="fade-left">
					</div>
				</div>
			</div>
		</section>
