<!-- Integration icons -->
		<section class="section extending-core">
			<div class="top bg-6"></div>
			<div class="container">
				<div class="row gap-y align-items-center">
					<div class="col-lg-6">
						<div class="section-heading">
							<p class="accent bold small text-uppercase">features</p>
							<h2>Real-time transportation visibility platform</h2>
							<p>Tracking, status updates, exception management, ETA calculation, analytics, integration, machine learning</p>
						</div>
						{{ partial "shared/book-a-demo-2" . }}
					</div>
					<div class="col-lg-6">
						<div class="icons-wrapper position-relative">
							<div class="floating icon icon-xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 100%; top: 30%;" data-aos="fade-left">
								<i class="fa fa-truck fa-3x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 60%; top: -10%;" data-aos="fade-left">
								<i class="fa fa-cube fa-3x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 25%; top: 0%;" data-aos="fade-left">
								<i class="fa fa-map fa-3x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-2xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 0%; top: 50%;" data-aos="fade-left">
								<i class="fa fa-map-marker-alt fa-4x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-2xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 23%; top: 70%;" data-aos="fade-left">
								<i class="fa fa-cubes fa-5x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-xxl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 65%; top: 44%;" data-aos="fade-left">
								<i class="fa fa-file-invoice fa-3x color-4 mb-2"></i>
							</div>
							<div class="floating icon icon-xl bg-1 rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 95%; top: 83%;" data-aos="fade-left">
								<i class="fa fa-eye fa-3x color-4 mb-2"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
