<!-- ./Features - grid -->
		<section id="features" class="section edge bottom-right bg-1">
			<div class="container pb-5">
				<div class="section-heading mb-6 text-center">
					<p class="bold text-uppercase mb-0 badge badge-3">Visibility features</p>
					<h2>Get the power of real-time visibility</h2>
				</div>
				<div class="row gap-y text-center text-md-left">
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-search-location fa-3x color-4 mb-2"></i>
						<h5 class="bold">Real-time tracking</h5>
						<p class="color-2">Track your vehicles and drivers on the road with GPS or our mobile app.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-truck fa-3x color-4 mb-2"></i>
						<h5 class="bold">GPS Integration</h5>
						<p class="color-2">Asset tracking with connection to GPS suppliers. Get all your vendors in a single platform.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-thermometer-half fa-3x color-4 mb-2"></i>
						<h5 class="bold">IoT</h5>
						<p class="color-2">Connection to hardware on vehicles like temperature or door opening sensors</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-map-marker-alt fa-3x color-4 mb-2"></i>
						<h5 class="bold">ETA prediction</h5>
						<p class="color-2">Automatic ETA calculation based on real time traffic. Share it with internal and external customers</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-vector-square fa-3x color-4 mb-2"></i>
						<h5 class="bold">Geofencing</h5>
						<p class="color-2">Automatic event log based on customized geofences.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-file-invoice fa-3x color-4 mb-2"></i>
						<h5 class="bold">Proof of Delivery (ePOD)</h5>
						<p class="color-2">Mobile app ePOD with signature, comments, status, pictures and more</p>
					</div>
				</div>
			</div>
		</section>
