<!-- ./Features - grid -->
		<section id="features" class="section edge bottom-right bg-1">
			<div class="container pb-5">
				<div class="section-heading mb-6 text-center">
					<p class="bold text-uppercase mb-0 badge badge-5">Analytics features</p>
					<h2>What DashCore can do for you</h2>
				</div>
				<div class="row gap-y text-center text-md-left">
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-door-lock pe-3x color-4 mb-2"></i>
						<h5 class="bold">Security included</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-paint-bucket pe-3x color-4 mb-2"></i>
						<h5 class="bold">Easily theme-able</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-plugin pe-3x color-4 mb-2"></i>
						<h5 class="bold">Plugins included</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-tools pe-3x color-4 mb-2"></i>
						<h5 class="bold">Professional tools</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-target pe-3x color-4 mb-2"></i>
						<h5 class="bold">Ready-to-use content</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="pe pe-7s-graph1 pe-3x color-4 mb-2"></i>
						<h5 class="bold">Powerful analytics</h5>
						<p class="color-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
					</div>
				</div>
			</div>
		</section>
