<!-- ./Features - grid -->
		<section id="features" class="section edge bottom-right bg-1">
			<div class="container pb-5">
				<div class="section-heading mb-6 text-center">
					<p class="bold text-uppercase mb-0 badge badge-2">Customer Satisfaction features</p>
					<h2>Customer Satisfaction</h2>
				</div>
				<div class="row gap-y text-center text-md-left">
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-desktop fa-3x color-4 mb-2"></i>
						<h5 class="bold">Customer Portal</h5>
						<p class="color-2">Share real-time and ETA status with  restricted access to customers.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-envelope fa-3x color-4 mb-2"></i>
						<h5 class="bold">Notifications</h5>
						<p class="color-2">Manage routes by excemption. Get instant notifications and alerts via email, SMS or out customer portal.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-comment fa-3x color-4 mb-2"></i>
						<h5 class="bold">Feedback</h5>
						<p class="color-2">Customized reasons for failure or success. Log customer comments on order-basis.</p>
					</div>
				</div>
			</div>
		</section>
