<!-- ./Features - grid -->
		<section id="features" class="section edge bottom-right bg-1">
			<div class="container pb-5">
				<div class="section-heading mb-6 text-center">
					<p class="bold text-uppercase mb-0 badge badge-4">Route Planning features</p>
					<h2>Optimal routes in minutes</h2>
				</div>
				<div class="row gap-y text-center text-md-left">
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-route fa-3x color-4 mb-2"></i>
						<h5 class="bold">Route optimization</h5>
						<p class="color-2">Route creation based on multiple variables as vehicle capacity, delivery windows, road traffic, working hours</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-users fa-3x color-4 mb-2"></i>
						<h5 class="bold">Driver dispatch</h5>
						<p class="color-2">Two way communication with drivers on order-basis. Mobile app for logging events.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-list-alt fa-3x color-4 mb-2"></i>
						<h5 class="bold">Order Management</h5>
						<p class="color-2">Batch import, sorting, filtering and selecting orders for route dispatch</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-dice-one fa-3x color-4 mb-2"></i>
						<h5 class="bold">Single-Stop</h5>
						<p class="color-2">Handle single stop orders and know in advance if drivers will be on time.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-dice-five fa-3x color-4 mb-2"></i>
						<h5 class="bold">Multiple-Stop</h5>
						<p class="color-2">Handling of distribution orders for LTL shipments.</p>
					</div>
					<div class="col-md-4 py-4 rounded shadow-hover">
						<i class="fas fa-code fa-3x color-4 mb-2"></i>
						<h5 class="bold">API Integration</h5>
						<p class="color-2">Batch upload via CSV, MS Excel. Integration with ERP, TMS, Order Management systems and more</p>
					</div>
				</div>
			</div>
		</section>
