<!-- ./Every thing you need - Tabs -->
<section class="section">
	<div class="container">
		<div class="section-heading text-center">
			<h2 class="bold">Reporting and Analytics</h2>
		</div>
		<nav class="slide nav nav-tabs nav-outlined nav-rounded justify-content-around justify-content-md-center mb-5">
			<a class="nav-item nav-link active" data-toggle="tab" href="#dashboard-tab">On Time In Full</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#tasks-tab">Waiting time</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#calendar-tab">Carrier performance</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#inbox-tab">Customer Satisfaction</a>
		</nav>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="dashboard-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 mr-md-auto">
						<div class="browser shadow" data-aos="fade-right">
							<img src="{{ .Site.BaseURL }}img/screens/dash/4.png" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-5">
						<p class="mb-0 badge badge-success">Reporting</p>
						<h2 class="display-4 light">On Time In Full</h2>
						<p>Instant on-time in-full reports let you know how ofter customers get what they want, when they want it.</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="tasks-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 order-md-2 ml-md-auto">
						<div class="browser shadow" data-aos="fade-left">
							<img src="{{ .Site.BaseURL }}img/screens/dash/3.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-5 mr-md-auto">
						<h2 class="display-4 light">Waiting time</h2>
						<p class="lead">Reduce process variation</p>
						<hr class="mt-5">
						<p class="small color-2">Analyze waiting times at customer premises deeply based on customer, driver, vehicle, weekday and time.</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="calendar-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 mr-md-auto">
						<div class="browser shadow-box" data-aos="fade-right">
							<img src="{{ .Site.BaseURL }}img/screens/dash/2.png" alt="" class="img-responsive">
						</div>
						<img src="{{ .Site.BaseURL }}img/screens/dash/2.1.png" alt="" class="absolute img-responsive shadow rounded" style="right: 0; top: 0">
					</div>
					<div class="col-md-5">
						<h2 class="display-4 light">Carrier Performance</h2>
						<p class="lead color-2">Compare multiple vendors</p>
						<p>Compare 3PL's and carrier performance based on reliability and customer satisfaction. Which drivers arrived on time this weeek?</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="inbox-tab">
				<div class="row gap-y align-items-center">
					<div class="col-md-6 order-md-2 ml-md-auto">
						<div class="browser shadow" data-aos="fade-left">
							<img src="{{ .Site.BaseURL }}img/screens/dash/1.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-5">
						<p class="mb-0 badge badge-info">New feature</p>
						<h2 class="display-4 light">Customer Satisfaction</h2>
						<p class="lead">Are you meeting your customers expectations?<br>
						How to achive the ultimate customer experience?<br> Understand the importance of customer experience and gain control of the delivery process with technology.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
