{{ define "main" }}

<h3>header</h3>
<hr>
    {{ partial "templates/header" . }}
<hr>

<h3>header-corp.html</h3>
<hr>
    {{ partial "templates/header-corp" . }}
<hr>

<h3>big-screen-right</h3>
<hr>
    {{ partial "templates/big-screen-right" . }}
<hr>

<h3>big-screen-left</h3>
<hr>
    {{ partial "templates/big-screen-left" . }}
<hr>

<h3>big-app-left</h3>
<hr>
    {{ partial "templates/big-app-left" . }}
<hr>

<h3>cta-create-account</h3>
<hr>
    {{ partial "templates/cta-create-account" . }}
<hr>

<h3>cta-try-it-free</h3>
<hr>
    {{ partial "templates/cta-try-it-free" . }}
<hr>

<h3>extending-core</h3>
<hr>
    {{ partial "templates/extending-core" . }}

<h3>features</h3>
<hr>
    {{ partial "templates/features" . }}
<hr>

<h3>testimonial-left.html</h3>
<hr>
    {{ partial "templates/testimonial-left" . }}
<hr>

<h3>testimonial-right.html</h3>
<hr>
    {{ partial "templates/testimonial-right" . }}
<hr>

<h3>newsletter.html</h3>
<hr>
    {{ partial "templates/newsletter" . }}
<hr>

<h3>about/other-channels.html</h3>
<hr>
    {{ partial "templates/other-channels" . }}
<hr>

<h3>about/team.html</h3>
<hr>
    {{ partial "templates/team" . }}
<hr>

<h3>tab</h3>
<hr>
    {{ partial "templates/tab" . }}
<hr>

<h3>tabs</h3>
<hr>
    {{ partial "templates/tabs" . }}

<h3>features-hover</h3>
<hr>
    {{ partial "templates/features-hover" . }}

<h3>design</h3>
<hr>
    {{ partial "templates/design" . }}

{{ end }}
